/* COLLECTION */

.collection {
    margin-top: 160px;
    padding: 0px 120px;
}

.collection__cards {
    margin: 60px 0px 58px 0px;
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.collection__cards-item {
    border: 1px solid;
    border-image-width: 30px;
    font-family: 'Clash Display';
    width: 100%;
    min-height: 442px;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 16px;
    border: solid 2px #0f0;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
    border-image-slice: 10;
    border-image-repeat: round;
    border-image-width: 10px;
    border-image-source: url('../public/image/gradient-border.svg');
}

.collection__card-header {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 12px;
}

.collection__card-created-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #B4C7CE;
}

.collection__card-creator {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #15BFFD;
    margin: 0px;
    padding: 0px;
}

.collection__card-images {
    width: 100%;
    min-height: 272px;
    position: relative;
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 21px;
}

.collection__card-image-item {
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.collection__card-title {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.collection__card-created-by {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ACACAC;
}

.collection__card-created-name {
    color: #15BFFD;
    font-weight: 600;
    text-decoration: none;
}