.detail {
    padding: 0px 120px 0px 120px;
}


.detail__image {
    position: relative;
    max-width: 100%;
    min-height: 285px;
    /* overflow: hidden; */
    object-fit: cover;
}

.detail__image img {
    border-radius: 16px 16px 0px 0px !important;
}

.detail__image-fx {
    position: absolute !important;
    z-index: -1;
    top: -5px !important;
    left: 22px !important;
    filter: grayscale(0) blur(50px);
}

.details__gallery-items {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
}

.details__gallery-item {
    cursor: pointer;
    opacity: .5;
    overflow: hidden;
    border-radius: 0px;
    position: relative;
    width: 100%;
    height: 50px;
    transition: opacity .3s;
}

.details__gallery-item:hover {
    opacity: 1;
}

.detail__info {
    display: flex;
    flex-direction: column;
}

.detail__title {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 48px;
    font-family: 'Clash Display';
    font-weight: 600;
}

.detail__actions {
    height: max-content;
    margin-left: auto;
    background-color: rgb(0 63 86 / 12%);
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    gap: 25px;
    border: 1px solid rgb(33 150 243 / 16%);
    box-shadow: 0 0 20px #003f7117;
    position: sticky;
    top: 10px;
}

.details__actions-cart-button {
    font-weight: 600;
    font-family: "Clash Display";
    font-size: 24px;
    background-color: #15BFFD;
    border: none;
}

.details__price {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Clash Display";
}