@import './fonts/clash-display.css';

body {
    background:
        url('../public/image/stars.svg'),
        url('../public/image/bg-blurred-blobs.svg'),
        #080B2A;
    background-size: 1440px, cover;
    background-repeat: no-repeat, repeat-y;
    background-position: top 262px center, top center;
    color: #fff;
}

.container {
    max-width: 1440px;
    min-height: 1000px;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding: 43px 70px 43px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 47px;
}

.header__left-side {
    display: flex;
    gap: 80px;
    align-items: center;
}

.header__nav a {
    font-style: normal;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.header__nav-link_active {
    background: transparent;
    border-radius: 8px;
    cursor: default;
    border: 1px solid #ffffff1f;
}

.header__buttons {
    display: flex;
    gap: 20px;
    height: 100%;
}

.header__search-button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.header__cart-button {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    transition: background-color .3s;
}

.header__cart-button:hover,
.header__search-button:hover {
    background-color: rgb(0 0 0 / 33%);
}

.header__catalog-button {
    display: flex;
    background: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 10px;
    border: 1px solid #15BFFD;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #15BFFD;
    cursor: pointer
}

.header__search-input {
    display: none;
}


/* FOOTER  */

.footer {
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5px);
    min-height: 442px;
    width: 100%;
}

.footer__container {
    max-width: 1440px;
    padding: 80px 120px 40px 120px;
    margin: 0 auto;
}

.footer__head {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer__main-info {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__main-info-text {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #E8F1F2;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
}

.footer__social-link {
    font-size: 24px;
    color: #15BFFD;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links-title {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
}

.footer__link-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
}

.footer__link {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: #fff;
}

.footer__copyright {
    margin-top: 40px;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}


/* SECTION */
.section__title {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}

.section__subtitle {
    max-width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}

.section__more-button {
    display: flex;
    color: #15BFFD;
    background: transparent;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 23.2px 19px;
    border: 1px solid #15BFFD;
    border-radius: 30px;
    margin: 0 auto;
}

.section__more-button:disabled {
    border: 1px solid grey;
    color: grey;
}

.section__more-button:hover {
    color: #fff !important;
    border: 1px solid #fff !important;
}

